## User settings
xcuserdata/

## Build products
build/

## Derived data
DerivedData/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

## CocoaPods
Pods/

## OS X
.DS_Store

## Large Assets
ファイル関連/

## Temporary build artifacts
*.pcm
ModuleCache.noindex/

## Temporary fcpxdest files (keep only the final version)
*.fcpxdest
!Moplug-SendToMotion-v2.fcpxdest
